:root {
	--image-width: 320px;
}
.detail-content-wrapper {
	font-size: 0;
}
.detail-content-header {
	height: 50px;
	line-height: 50px;
	font-size: 0;
}
.detail-content-header>span {
	font-size: 12px;
	color: #666;
	letter-spacing: 3px;
}
.detail-content-header>span>a {
	color: #666;
	letter-spacing: 0px;
}
.detail-content-header>span>a:hover {
	color: red;
	text-decoration: underline;
}
.detail-content-header>span>span {
	letter-spacing: 0;
}
/* 商品详情 */
.product-detail {
	width: 100%;
}
/* 商品左侧图片 */
.product-detail-images {
	width: var(--image-width);
	display: inline-block;
}
.product-detail-images-show {
	width: 100%;
	height: 320px;
	position: relative;
}
.product-detail-images-loupe {
	position: absolute;
	left: 0;
	top: 0;
	width: 16px;
	height: 16px;
	background-image: url(images/PDP-ICON.png);
	background-position: -24px 0;
}
.product-detail-images-show>img {
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	display: none;
}
.product-detail-images-show>img.active {
	display: block;
}
.product-detail-images-mask {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 100;
	cursor: crosshair;
}
.product-detail-images-mask:hover+.product-detail-images-small {
	opacity: 1;
}
.product-detail-images-small {
	position: absolute;
	width: 50%;
	height: 50%;
	z-index: 99;
	opacity: 0;
}
.small-overlay {
	height: 100%;
	background-color: rgba(255,255,255,0.8);
}
.product-detail-images-mask:hover~.product-detail-images-big {
	opacity: 1;
	transform: scale(1);
	left: calc(100% + 20px);
	bottom: 0;
}
.product-detail-images-big {
	position: absolute;
	bottom: -50%;
	left: 0;
	width: 150%;
	height: 150%;
	z-index: 99;
	opacity: 0;
	transform: scale(0);
	transition-duration: 0.3s;
	transition-property: left,bottom, opacity, transform;
	/* background-repeat: no-repeat; */
}
.product-detail-images-list {
	width: 100%;
	margin-top: 30px;
	font-size: 0;
}
.product-detail-images-list>ul {
	display: inline-block;
}
.product-detail-images-list>ul>li {
	height: 50px;
	width: 50px;
	display: inline-block;
	position: relative;
}
.product-detail-images-whitemask {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(255,255,255,.5);
	display: none;
}
.product-detail-images-whitemask.notshow {
	display: block;
}
.product-detail-images-list-last,.product-detail-images-list-next {
	height: 50px;
	width: 35px;
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
.product-detail-images-list-last::before {
	content: '';
	display: inline-block;
	background-image: url(images/PDP-ICON.png);
	width: 12px;
	height: 20px;
	margin-top: 15px;
	background-position: -60px -38px;
	
}
.product-detail-images-list-next::before {
	content: '';
	display: inline-block;
	background-image: url(images/PDP-ICON.png);
	width: 12px;
	height: 20px;
	margin-top: 15px;
	background-position: -23px -56px;
}
/* 商品右侧详情 */
.product-right {
	display: inline-block;
	vertical-align: top;
	width: calc(var(--w-width) - var(--image-width));
	padding-left: 50px;
	box-sizing: border-box;
}
.product-right-header {
	height: 60px;
	width: 100%;
	position: relative;
	border-bottom: 1px solid #ccc;
}
.product-right-header>h6 {
	font-size: 20px;
}
.product-right-header>span {
	font-size: 14px;
	margin-top: 5px;
	display: inline-block;
}
.product-right-header>img {
	position: absolute;
	top: 0;
	right: 0;
	display: inline-block;
}
.product-right-price-activity {
	width: 100%;
	border-bottom: 1px solid #ccc;
	font-size: 12px;
	color: #666;
}
.product-right-price {
	width: 100%;
	height: 30px;
	padding-top: 20px;
}
.product-right-price>span.product-right-left-title {
	margin-right: 30px;
}
span.product-right-left-title {
	margin-right: 30px;
}
span.product-right-left-title.ontop {
	vertical-align: top;
}
.product-right-price-num {
	color: #000000;
	font-size: 20px;
	font-weight: bold;
}
.product-right-price>span {
	margin-right:10px;
}
.product-right-price-new-login {
	width: 36px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	display: inline-block;
	background-color: red;
	color: #fff;
	margin-left: 50px;
}
.product-right-activity {
	margin-top: 20px;
}
.product-right-activity-full-gift-wrapper {
	display: inline-block;
}
.product-right-activity-full-gift {
	width: 760px;
	height: 50px;
	position: relative;
}
.full-gift-login {
	width: 36px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	color: red;
	border: 1px solid red;
	display: inline-block;
}
.full-gift-explain {
	display: inline-block;
	/* width: 100px; */
	height: 100%;
	text-indent: 2em;
	width: 580px;
	vertical-align: top;
	line-height: 20px;
	color: #333;
}
.promotion-detail {
	position: absolute;
	right: 0;
	top: 0;
	width: 78px;
	height: 22px;
	line-height: 22px;
	text-align: center;
	border: 1px solid #ccc;
	color: black;
	cursor: pointer;
}
.promotion-detail>em {
	display: inline-block;
	transform: translateY(-2px);
	width: 10px;
	height: 5px;
	background-image: url(images/PDP-ICON.png);
	background-position: -40px -18px;
	margin-left: 5px;
}
.promotion-detail>em.direction-toggle {
	background-position: -50px -19px;
}
.promotion-detail-body-wrapper {
	width: 750px;
	background-color: #fff;
	position: absolute;
	top: calc(100% + 6px);
	right: 0;
	z-index: 999;
	text-align: left;
	display: none;
}
.promotion-detail-body-wrapper.active {
	display: block;
}
.promotion-detail-body-wrapper::before {
	content: "";
	display: inline-block;
	width: 12px;
	height: 10px;
	background-image: url(images/Triangle.png);
	background-repeat: no-repeat;
	position: absolute;
	right: 35px;
	top: -6px;
}
.promotion-detail-body {
	box-shadow: 0 0 10px -5px black;
	padding: 20px;
}
.promotion-detail-gift-title {
	display: block;
	margin-top: 10px;
}
.promotion-detail-gift {
	width: 150px;
	height: 130px;
}
.promotion-detail-gift-img{
	width: 100%;
	text-align: center;
}
.promotion-detail-gift-img>* {
	vertical-align: middle;
}
.promotion-detail-gift-img>img {
	width: 80px;
}
.product-right-type {
	font-size: 12px;
	color: #666;
	width: 100%;
	padding-top: 20px;
}
.product-right-type-choice {
	width: 600px;
	display: inline-block;
	font-size: 0;
}
.product-right-type-choice>span {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	text-align: center;
	padding: 0 3px;
	border: 1px solid #ccc;
	font-size: 12px;
	margin: 0 10px 10px 0;
	cursor: pointer;
	/* vertical-align: top; */
}
.product-right-type-choice>span:hover {
	border: 1px solid black;
}
.product-right-type-choice>span.choice-this {
	border: 3px solid black;
}
.product-right-count-wrapper {
	margin-left: 57px;
	margin-top: 20px;
}
.product-right-count {
	display: inline-block;
}
.product-right-count>span {
	display: inline-block;
	width: 50px;
	font-size: 16px;
	font-weight: 600;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid #ccc;
	border-right: none;
	box-sizing: border-box;
}
.product-right-count-btn {
	display: inline-block;
	vertical-align: top;
	margin-right: 20px;
}
.product-right-btn-increase,.product-right-btn-decrease {
	height: 20px;
	width: 20px;
	display: block;
	border: 1px solid #ccc;
	background-color: #fff;
	cursor: pointer;
}
.product-right-btn-increase>em {
	display: inline-block;
	height: 5px;
	width: 10px;
	background-image: url(images/PDP-ICON.png);
	background-position: -50px -19px;
}
.product-right-btn-increase>em.active {
	background-position: -50px -43px;
}
.product-right-btn-decrease>em {
	display: inline-block;
	height: 5px;
	width: 10px;
	background-image: url(images/PDP-ICON.png);
	background-position: -40px -42px;
}
.product-right-btn-decrease>em.active {
	background-position: -40px -18px;
}
.product-right-count-wrapper>span {
	font-size: 12px;
}
.product-right-btn-addcart {
	display: inline-block;
	margin: 30px 0 0 57px;
	width: 175px;
	height: 40px;
	background-color: red;
	color: white;
	font-size: 16px;
	text-align: center;
	line-height: 40px;
}
.product-right-btn-addcart:hover {
	background-color: #000;
}
.product-right-btn-addcart:after {
	content: "";
	display: inline-block;
	height: 20px;
	width: 16px;
	background-image: url(images/PDP-ICON.png);
	background-position: -24px -16px;
	vertical-align: middle;
	margin-left: 10px;
}
/* 猜你喜欢 */
.guessyoulike {
	width: 180px;
	margin-top: 50px;
	display: inline-block;
}
.guessyoulike-header {
	width: 100%;
	height: 26px;
	border-bottom: 1px solid black;
}
.guessyoulike-header>span {
	font-size: 14px;
}
/* 产品详细信息 */
.product-information {
	display: inline-block;
	vertical-align: top;
	margin-top: 50px;
	width: 990px;
	font-size: 14px;
	margin-left: 20px;
}
.product-information-header{
	border-bottom: 1px solid black;
}
.product-information-header>li{
	display: inline-block;
	height: 26px;
	box-sizing: border-box;
	margin-right: 30px;
	cursor: pointer;
}
.product-information-header>li.active {
	border-bottom: 2px solid black;
}
.product-information-header>li>a {
	color: #000000;
}
.product-information-content {
	width: 100%;
	margin-top: 30px;
	border-left: 1px solid black;
}
.product-information-content img {
	width: 100%;
}
/* 右固定 */
.fixed-info {
	position: fixed;
	bottom:100px;
	right:calc(50% - var(--w-width) / 2 - 80px);
	display: none;
}
.fixed-show {
	display: block !important;
}
.fixed-info>ul {
	
}
.fixed-info>ul>li {
	position: relative;
	height: 40px;
	width: 40px;
	background-color: #ccc;
	background-image: url(./images/sprite_toolbar_new.png);
	background-repeat: no-repeat;
}
.fixed-info>ul>li:hover {
	background-color: rgba(0,0,0,.7);
}
.fixed-info>ul>li:hover>a {
	display: block;
}
.fixed-info>ul>li>a {
	position: absolute;
	right: 100%;
	top: 0;
	display: none;
	height: 40px;
	line-height: 40px;
	box-sizing: border-box;
	/* padding: 0 10px; */
	text-align: center;
	width: 80px;
	background-color: rgba(0,0,0,.7);
}
.fixed-info>ul>li>a span {
	color: white;
	font-size: 12px;
	display: block;
	/* background-color: blue; */
}
.fixed-info>ul>li>a.load-app {
	width: 150px;
	height: 490px;
	top: unset;
	right: 45px;
	bottom: -50px;
	background-color: rgba(0,0,0,0);
}
.fixed-info>ul>li>a.load-app>span img {
	width: 100%;
}



